'''
Fichier de configuration générale de l'application
'''

SQLALCHEMY_DATABASE_URI = "postgresql://monuser:monpassachanger@localhost/geonature2db"
SQLALCHEMY_TRACK_MODIFICATIONS = False

DEBUG=True

SESSION_TYPE = 'filesystem'
SECRET_KEY = 'super secret key'
COOKIE_EXPIRATION = 3600
COOKIE_AUTORENEW = True

# Ajouter les filtres taxonomiques à l'API 
# Nécessite d'avoir exécuté le script 'data/nomenclature_taxonomie.sql' qui installe les tables nécessaires
ENABLE_NOMENCLATURE_TAXONOMIC_FILTERS = True

# URL de l'interface d'administration
URL_ADMIN_NOMENCLATURES = "/nomenclatures/admin"

# L'application est-elle utilisée comme un sous-module d'une application parente ?
# Si c'est un sous module, on utilise l'instance DB fournit par la config de l'application parente
# Si c'est une application indépendante, on utilise la variable DB du fichier env.py
USE_AS_SUBMODULE = False