
'''
Fichier de configuration générale de l'application
'''

SQLALCHEMY_DATABASE_URI = "postgresql://monuser:monpassachanger@localhost/geonature2db"
SQLALCHEMY_TRACK_MODIFICATIONS = False


DEBUG=True

SESSION_TYPE = 'filesystem'
SECRET_KEY = 'super secret key'
COOKIE_EXPIRATION = 3600
COOKIE_AUTORENEW = True

# Ajoute les filtres taxonomiques à l'API 
# Necessite d'avoir executer le script 'nomenclature_taxonomie.sql' qui installe les tables necessaires
ENABLE_NOMENCLATURE_TAXONOMIC_FILTERS = True
URL_ADMIN_NOMENCLATURES = "/nomenclatures/admin"
