python-dotenv
flask
Flask-Admin
flask-sqlalchemy
flask-migrate
psycopg2
flask-marshmallow
marshmallow-sqlalchemy
shapely<2
sqlalchemy>=1.3,<2

utils-flask-sqlalchemy>=0.3.0
taxhub>=1.10.0
pypnusershub>=1.6.0
