#############################
#### PostgreSQL settings ####
#############################

# Drop existing database while installation
drop_apps_db=false

# Database host
db_host=localhost

# Database port
db_port=5432

# Database name
db_name=geonature2db

# Database owner username
user_pg=monuser

# Database owner password
user_pg_pass=mypasstochange

#########################
#### Python settings ####
#########################
# Python 3 is required

# Path to Python, to be used only for Python 3
python_path=/usr/bin/python3.5
