'''
Fichier de configuration générale de l'application
'''

SQLALCHEMY_DATABASE_URI = "postgresql://monuser:monpassachanger@localhost/geonature2db"
SQLALCHEMY_TRACK_MODIFICATIONS = False

DEBUG=True

SESSION_TYPE = 'filesystem'
SECRET_KEY = 'super secret key'
COOKIE_EXPIRATION = 3600
COOKIE_AUTORENEW = True

# Ajouter les filtres taxonomiques à l'API 
# Nécessite d'avoir monté la branche alembic nomenclature_taxonomie
ENABLE_NOMENCLATURE_TAXONOMIC_FILTERS = True

# URL de l'interface d'administration
URL_ADMIN_NOMENCLATURES = "/nomenclatures/admin"
